# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Jupyter checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
.env/
.venv/

# Raw data files
data/*.csv

# SQLite database files
database/*.db
database/*.sqlite
database/*.sqlite3

# Logs
*.log
logs/

# OS files
.DS_Store
Thumbs.db

# VS Code settings, optional
.vscode/

# Power BI temporary files
*.tmp